<template>
  <require from="./import-users-merge-strategy-picker"></require>
  <import-users-merge-strategy-picker merge-strategy.bind="service.bulkImportModel.mergeStrategy"
                                      class="bulk-import-merge-strategy-container"
                                      if.bind="service.counts.existingProjectUserCount > 0">
  </import-users-merge-strategy-picker>
  <hr />
  <div class="bulk-import-summary-container">
    <h5>Summary of your Changes:</h5>
    <div class="bulk-import-summary-item">
      <div class="bulk-import-summary-name">
        New Project Users:
      </div>
      <div class="bulk-import-summary-value">
        ${service.counts.newProjectUserCount}
      </div>
    </div>
    <div class="bulk-import-summary-item">
      <div class="bulk-import-summary-name">
        Existing Project Users:
      </div>
      <div class="bulk-import-summary-value">
        ${existingProjectUserText}
      </div>
    </div>
    <div class="bulk-import-summary-item">
      <div class="bulk-import-summary-name">
        New Event Participants:
      </div>
      <div class="bulk-import-summary-value">
        ${service.counts.newEventUserCount}
      </div>
    </div>
    <div class="bulk-import-summary-item">
      <div class="bulk-import-summary-name">
        Existing Event Participants:
      </div>
      <div class="bulk-import-summary-value">
        <!-- `& oneTime` because this doesn't change -->
        ${existingEventUserText & oneTime}
      </div>
    </div>
    <div class="bulk-import-summary-item">
      <div class="bulk-import-summary-name">
        New Tags:
      </div>
      <div class="bulk-import-summary-value">
        ${service.counts.newTagCount}
      </div>
    </div>
  </div>
</template>
