$icomoon-font-path: "/sass/fonts" !default;

$icon-Collapse: "\e959";
$icon-Report: "\e958";
$icon-Account: "\e957";
$icon-Tag-Logic: "\e956";
$icon-Insight-Add: "\e924";
$icon-Download: "\e955";
$icon-Entries: "\e93d";
$icon-Warning: "\e93e";
$icon-Insight: "\e93f";
$icon-timeline-marker: "\e940";
$icon-Reports: "\e93c";
$icon-user-gray: "\e93a";
$icon-success: "\e93b";
$icon-event: "\e941";
$icon-arrow: "\e950";
$icon-analytics: "\e954";
$icon-Notification: "\e939";
$icon-schedule: "\e901";
$icon-project: "\e909";
$icon-options: "\e911";
$icon-moderator: "\e917";
$icon-MMC: "\e92b";
$icon-MMA: "\e92c";
$icon-media: "\e92d";
$icon-media-drag: "\e92e";
$icon-MC: "\e92f";
$icon-matrix: "\e930";
$icon-MA: "\e931";
$icon-journal: "\e932";
$icon-info2: "\e933";
$icon-incentive: "\e934";
$icon-group-tags: "\e935";
$icon-branding: "\e936";
$icon-billing: "\e937";
$icon-activity: "\e938";
$icon-drag-files: "\e900";
$icon-matrix-multiple-choice: "\e906";
$icon-matrix-multiple-answer: "\e908";
$icon-required-comment: "\e904";
$icon-required-media: "\e905";
$icon-3d_rotation: "\e907";
$icon-alarm: "\e90a";
$icon-access_alarms: "\e90b";
$icon-schedule2: "\e90c";
$icon-accessibility: "\e90d";
$icon-accessible: "\e942";
$icon-account_balance: "\e943";
$icon-account_balance_wallet: "\e944";
$icon-account_box: "\e945";
$icon-account_circle: "\e946";
$icon-adb: "\e947";
$icon-add: "\e948";
$icon-add_a_photo: "\e949";
$icon-alarm_add: "\e94a";
$icon-add_alert: "\e94b";
$icon-add_box: "\e94c";
$icon-add_circle: "\e94d";
$icon-control_point: "\e94e";
$icon-add_location: "\e94f";
$icon-queue: "\e951";
$icon-add_to_queue: "\e952";
$icon-adjust: "\e953";
$icon-airplay: "\e95e";
$icon-alarm_off: "\e960";
$icon-alarm_on: "\e961";
$icon-all_inclusive: "\e963";
$icon-all_out: "\e964";
$icon-android: "\e965";
$icon-announcement: "\e966";
$icon-apps: "\e967";
$icon-archive: "\e968";
$icon-arrow_back: "\e969";
$icon-arrow_downward: "\e96a";
$icon-arrow_drop_down: "\e96b";
$icon-arrow_drop_down_circle: "\e96c";
$icon-arrow_drop_up: "\e96d";
$icon-arrow_forward: "\e96e";
$icon-arrow_upward: "\e96f";
$icon-aspect_ratio: "\e971";
$icon-poll: "\e972";
$icon-assignment: "\e973";
$icon-assignment_ind: "\e974";
$icon-assignment_late: "\e975";
$icon-assignment_return: "\e976";
$icon-assignment_returned: "\e977";
$icon-assignment_turned_in: "\e978";
$icon-assistant: "\e979";
$icon-flag: "\e97a";
$icon-attach_file: "\e97b";
$icon-attach_money: "\e97c";
$icon-attachment: "\e97d";
$icon-audiotrack: "\e97e";
$icon-autorenew: "\e97f";
$icon-av_timer: "\e980";
$icon-backspace: "\e981";
$icon-cloud_upload: "\e982";
$icon-battery_charging_full: "\e984";
$icon-beach_access: "\e987";
$icon-beenhere: "\e988";
$icon-block: "\e989";
$icon-class: "\e992";
$icon-turned_in: "\e993";
$icon-turned_in_not: "\e994";
$icon-border_all: "\e995";
$icon-border_color: "\e998";
$icon-branding_watermark: "\e9a1";
$icon-brightness_1: "\e9a2";
$icon-brightness_2: "\e9a3";
$icon-brightness_3: "\e9a4";
$icon-brightness_4: "\e9a5";
$icon-brightness_low: "\e9a6";
$icon-brightness_medium: "\e9a7";
$icon-brightness_high: "\e9a8";
$icon-brightness_auto: "\e9a9";
$icon-broken_image: "\e9aa";
$icon-brush: "\e9ab";
$icon-build: "\e9ae";
$icon-burst_mode: "\e9af";
$icon-domain: "\e9b0";
$icon-cached: "\e9b2";
$icon-phone: "\e9b4";
$icon-call_end: "\e9b5";
$icon-call_made: "\e9b6";
$icon-merge_type: "\e9b7";
$icon-call_missed: "\e9b8";
$icon-call_missed_outgoing: "\e9b9";
$icon-call_received: "\e9ba";
$icon-call_split: "\e9bb";
$icon-call_to_action: "\e9bc";
$icon-camera: "\e9bd";
$icon-photo_camera: "\e9be";
$icon-camera_enhance: "\e9bf";
$icon-camera_front: "\e9c0";
$icon-camera_rear: "\e9c1";
$icon-camera_roll: "\e9c2";
$icon-cancel: "\e9c3";
$icon-redeem: "\e9c4";
$icon-card_membership: "\e9c5";
$icon-card_travel: "\e9c6";
$icon-casino: "\e9c7";
$icon-cast: "\e9c8";
$icon-cast_connected: "\e9c9";
$icon-center_focus_strong: "\e9ca";
$icon-center_focus_weak: "\e9cb";
$icon-change_history: "\e9cc";
$icon-chat: "\e9cd";
$icon-chat_bubble: "\e9ce";
$icon-chat_bubble_outline: "\e9cf";
$icon-check: "\e9d0";
$icon-check_box: "\e9d1";
$icon-check_box_outline_blank: "\e9d2";
$icon-check_circle: "\e9d3";
$icon-navigate_before: "\e9d4";
$icon-navigate_next: "\e9d5";
$icon-chrome_reader_mode: "\e9d8";
$icon-close: "\e9d9";
$icon-clear_all: "\e9da";
$icon-closed_caption: "\e9db";
$icon-wb_cloudy: "\e9dc";
$icon-cloud_done: "\e9de";
$icon-cloud_download: "\e9df";
$icon-cloud_off: "\e9e0";
$icon-cloud_queue: "\e9e1";
$icon-code: "\e9e2";
$icon-photo_library: "\e9e3";
$icon-collections_bookmark: "\e9e4";
$icon-palette: "\e9e5";
$icon-colorize: "\e9e6";
$icon-comment: "\e9e7";
$icon-compare: "\e9e8";
$icon-compare_arrows: "\e9e9";
$icon-laptop: "\e9ea";
$icon-confirmation_number: "\e9eb";
$icon-contact_mail: "\e9ec";
$icon-contact_phone: "\e9ed";
$icon-contacts: "\e9ee";
$icon-content_copy: "\e9ef";
$icon-content_paste: "\e9f1";
$icon-control_point_duplicate: "\e9f2";
$icon-copyright: "\e9f3";
$icon-mode_edit: "\e9f4";
$icon-create_new_folder: "\e9f5";
$icon-payment: "\e9f6";
$icon-crop: "\e9f7";
$icon-crop_16_9: "\e9f8";
$icon-crop_3_2: "\e9f9";
$icon-crop_landscape: "\e9fa";
$icon-crop_7_5: "\e9fb";
$icon-crop_din: "\e9fc";
$icon-crop_free: "\e9fd";
$icon-crop_original: "\e9fe";
$icon-crop_portrait: "\e9ff";
$icon-crop_rotate: "\ea00";
$icon-crop_square: "\ea01";
$icon-dashboard: "\ea02";
$icon-data_usage: "\ea03";
$icon-date_range: "\ea04";
$icon-dehaze: "\ea05";
$icon-delete: "\ea06";
$icon-delete_forever: "\ea07";
$icon-delete_sweep: "\ea08";
$icon-description: "\ea09";
$icon-desktop_mac: "\ea0a";
$icon-desktop_windows: "\ea0b";
$icon-developer_board: "\ea0d";
$icon-developer_mode: "\ea0e";
$icon-device_hub: "\ea0f";
$icon-phonelink: "\ea10";
$icon-devices_other: "\ea11";
$icon-dialer_sip: "\ea12";
$icon-dialpad: "\ea13";
$icon-disc_full: "\ea1d";
$icon-dns: "\ea1e";
$icon-not_interested: "\ea1f";
$icon-do_not_disturb_alt: "\ea20";
$icon-do_not_disturb_off: "\ea21";
$icon-remove_circle: "\ea22";
$icon-dock: "\ea23";
$icon-done: "\ea24";
$icon-done_all: "\ea25";
$icon-donut_large: "\ea26";
$icon-donut_small: "\ea27";
$icon-drafts: "\ea28";
$icon-drag_handle: "\ea29";
$icon-dvr: "\ea2b";
$icon-edit_location: "\ea2c";
$icon-eject: "\ea2d";
$icon-markunread: "\ea2e";
$icon-enhanced_encryption: "\ea2f";
$icon-equalizer: "\ea30";
$icon-error: "\ea31";
$icon-error_outline: "\ea32";
$icon-euro_symbol: "\ea33";
$icon-ev_station: "\ea34";
$icon-insert_invitation: "\ea35";
$icon-event_available: "\ea36";
$icon-event_busy: "\ea37";
$icon-event_note: "\ea38";
$icon-exit_to_app: "\ea3a";
$icon-expand_less: "\ea3b";
$icon-expand_more: "\ea3c";
$icon-explicit: "\ea3d";
$icon-explore: "\ea3e";
$icon-exposure: "\ea3f";
$icon-extension: "\ea45";
$icon-face: "\ea46";
$icon-fast_forward: "\ea47";
$icon-fast_rewind: "\ea48";
$icon-favorite: "\ea49";
$icon-favorite_border: "\ea4a";
$icon-featured_play_list: "\ea4b";
$icon-featured_video: "\ea4c";
$icon-sms_failed: "\ea4d";
$icon-fiber_manual_record: "\ea4f";
$icon-fiber_new: "\ea50";
$icon-fiber_pin: "\ea51";
$icon-fiber_smart_record: "\ea52";
$icon-get_app: "\ea53";
$icon-file_upload: "\ea54";
$icon-filter: "\ea55";
$icon-filter_b_and_w: "\ea60";
$icon-filter_center_focus: "\ea61";
$icon-filter_drama: "\ea62";
$icon-filter_frames: "\ea63";
$icon-terrain: "\ea64";
$icon-filter_list: "\ea65";
$icon-filter_none: "\ea66";
$icon-filter_tilt_shift: "\ea67";
$icon-find_in_page: "\ea69";
$icon-find_replace: "\ea6a";
$icon-fingerprint: "\ea6b";
$icon-first_page: "\ea6c";
$icon-flare: "\ea6e";
$icon-flash_auto: "\ea6f";
$icon-flash_off: "\ea70";
$icon-flash_on: "\ea71";
$icon-flip: "\ea74";
$icon-flip_to_back: "\ea75";
$icon-flip_to_front: "\ea76";
$icon-folder: "\ea77";
$icon-folder_open: "\ea78";
$icon-folder_shared: "\ea79";
$icon-folder_special: "\ea7a";
$icon-font_download: "\ea7b";
$icon-format_align_center: "\ea7c";
$icon-format_align_justify: "\ea7d";
$icon-format_align_left: "\ea7e";
$icon-format_align_right: "\ea7f";
$icon-format_bold: "\ea80";
$icon-format_clear: "\ea81";
$icon-format_color_fill: "\ea82";
$icon-format_color_reset: "\ea83";
$icon-format_color_text: "\ea84";
$icon-format_indent_decrease: "\ea85";
$icon-format_indent_increase: "\ea86";
$icon-format_italic: "\ea87";
$icon-format_line_spacing: "\ea88";
$icon-format_list_bulleted: "\ea89";
$icon-format_list_numbered: "\ea8a";
$icon-format_paint: "\ea8b";
$icon-format_quote: "\ea8c";
$icon-format_shapes: "\ea8d";
$icon-format_size: "\ea8e";
$icon-format_strikethrough: "\ea8f";
$icon-format_textdirection_l_to_r: "\ea90";
$icon-format_textdirection_r_to_l: "\ea91";
$icon-format_underlined: "\ea92";
$icon-question_answer: "\ea93";
$icon-forward: "\ea94";
$icon-forward_10: "\ea95";
$icon-forward_30: "\ea96";
$icon-forward_5: "\ea97";
$icon-free_breakfast: "\ea98";
$icon-fullscreen: "\ea99";
$icon-fullscreen_exit: "\ea9a";
$icon-functions: "\ea9b";
$icon-g_translate: "\ea9c";
$icon-games: "\ea9d";
$icon-gavel: "\ea9e";
$icon-gesture: "\ea9f";
$icon-my_location: "\eaa3";
$icon-location_searching: "\eaa4";
$icon-location_disabled: "\eaa5";
$icon-star: "\eaa6";
$icon-gradient: "\eaa7";
$icon-grain: "\eaa8";
$icon-graphic_eq: "\eaa9";
$icon-grid_off: "\eaaa";
$icon-grid_on: "\eaab";
$icon-people: "\eaac";
$icon-group_add: "\eaad";
$icon-group_work: "\eaae";
$icon-hd: "\eaaf";
$icon-hdr_strong: "\eab2";
$icon-hdr_weak: "\eab3";
$icon-headset: "\eab4";
$icon-help: "\eab8";
$icon-help_outline: "\eab9";
$icon-high_quality: "\eaba";
$icon-highlight: "\eabb";
$icon-highlight_off: "\eabc";
$icon-restore: "\eabd";
$icon-home: "\eabe";
$icon-lock: "\eac4";
$icon-photo: "\eac5";
$icon-image_aspect_ratio: "\eac6";
$icon-import_contacts: "\eac7";
$icon-import_export: "\eac8";
$icon-important_devices: "\eac9";
$icon-inbox: "\eaca";
$icon-indeterminate_check_box: "\eacb";
$icon-info: "\eacc";
$icon-info_outline: "\eacd";
$icon-input: "\eace";
$icon-insert_comment: "\eacf";
$icon-insert_drive_file: "\ead0";
$icon-link: "\ead2";
$icon-invert_colors: "\ead3";
$icon-invert_colors_off: "\ead4";
$icon-iso: "\ead5";
$icon-keyboard: "\ead6";
$icon-keyboard_arrow_down: "\ead7";
$icon-keyboard_arrow_left: "\ead8";
$icon-keyboard_arrow_right: "\ead9";
$icon-keyboard_arrow_up: "\eada";
$icon-keyboard_backspace: "\eadb";
$icon-keyboard_capslock: "\eadc";
$icon-keyboard_hide: "\eadd";
$icon-keyboard_return: "\eade";
$icon-keyboard_tab: "\eadf";
$icon-keyboard_voice: "\eae0";
$icon-kitchen: "\eae1";
$icon-label: "\eae2";
$icon-label_outline: "\eae3";
$icon-language: "\eae4";
$icon-laptop_mac: "\eae6";
$icon-laptop_windows: "\eae7";
$icon-last_page: "\eae8";
$icon-open_in_new: "\eae9";
$icon-layers: "\eaea";
$icon-layers_clear: "\eaeb";
$icon-leak_add: "\eaec";
$icon-leak_remove: "\eaed";
$icon-lens: "\eaee";
$icon-library_books: "\eaef";
$icon-library_music: "\eaf0";
$icon-lightbulb_outline: "\eaf1";
$icon-line_style: "\eaf2";
$icon-line_weight: "\eaf3";
$icon-linear_scale: "\eaf4";
$icon-linked_camera: "\eaf5";
$icon-list: "\eaf6";
$icon-live_help: "\eaf7";
$icon-live_tv: "\eaf8";
$icon-local_play: "\eaf9";
$icon-local_airport: "\eafa";
$icon-local_atm: "\eafb";
$icon-local_bar: "\eafc";
$icon-local_cafe: "\eafd";
$icon-local_car_wash: "\eafe";
$icon-restaurant_menu: "\eb00";
$icon-local_drink: "\eb01";
$icon-local_gas_station: "\eb03";
$icon-shopping_cart: "\eb04";
$icon-local_hospital: "\eb05";
$icon-local_laundry_service: "\eb06";
$icon-local_library: "\eb07";
$icon-theaters: "\eb09";
$icon-local_offer: "\eb0a";
$icon-local_parking: "\eb0b";
$icon-local_pharmacy: "\eb0c";
$icon-print: "\eb0e";
$icon-location_city: "\eb11";
$icon-location_off: "\eb12";
$icon-room: "\eb13";
$icon-lock_open: "\eb14";
$icon-lock_outline: "\eb15";
$icon-looks: "\eb16";
$icon-sync: "\eb1d";
$icon-loupe: "\eb1e";
$icon-low_priority: "\eb1f";
$icon-loyalty: "\eb20";
$icon-mail_outline: "\eb21";
$icon-map: "\eb22";
$icon-markunread_mailbox: "\eb23";
$icon-memory: "\eb24";
$icon-menu: "\eb25";
$icon-message: "\eb26";
$icon-mic: "\eb27";
$icon-mic_none: "\eb28";
$icon-mic_off: "\eb29";
$icon-mms: "\eb2a";
$icon-mode_comment: "\eb2b";
$icon-monetization_on: "\eb2c";
$icon-money_off: "\eb2d";
$icon-monochrome_photos: "\eb2e";
$icon-more: "\eb30";
$icon-more_horiz: "\eb31";
$icon-more_vert: "\eb32";
$icon-mouse: "\eb34";
$icon-move_to_inbox: "\eb35";
$icon-movie_creation: "\eb36";
$icon-movie_filter: "\eb37";
$icon-multiline_chart: "\eb38";
$icon-music_note: "\eb39";
$icon-music_video: "\eb3a";
$icon-navigation: "\eb3d";
$icon-near_me: "\eb3e";
$icon-network_cell: "\eb3f";
$icon-network_check: "\eb40";
$icon-network_locked: "\eb41";
$icon-network_wifi: "\eb42";
$icon-new_releases: "\eb43";
$icon-next_week: "\eb44";
$icon-nfc: "\eb45";
$icon-no_encryption: "\eb46";
$icon-signal_cellular_no_sim: "\eb47";
$icon-note: "\eb48";
$icon-note_add: "\eb49";
$icon-notifications: "\eb4a";
$icon-notifications_active: "\eb4b";
$icon-notifications_none: "\eb4c";
$icon-notifications_off: "\eb4d";
$icon-notifications_paused: "\eb4e";
$icon-offline_pin: "\eb4f";
$icon-ondemand_video: "\eb50";
$icon-opacity: "\eb51";
$icon-open_in_browser: "\eb52";
$icon-open_with: "\eb53";
$icon-pages: "\eb54";
$icon-pageview: "\eb55";
$icon-pan_tool: "\eb56";
$icon-panorama: "\eb57";
$icon-radio_button_unchecked: "\eb58";
$icon-panorama_horizontal: "\eb59";
$icon-panorama_vertical: "\eb5a";
$icon-panorama_wide_angle: "\eb5b";
$icon-party_mode: "\eb5c";
$icon-pause: "\eb5d";
$icon-pause_circle_filled: "\eb5e";
$icon-pause_circle_outline: "\eb5f";
$icon-people_outline: "\eb60";
$icon-perm_camera_mic: "\eb61";
$icon-perm_contact_calendar: "\eb62";
$icon-perm_data_setting: "\eb63";
$icon-perm_device_information: "\eb64";
$icon-person_outline: "\eb65";
$icon-perm_media: "\eb66";
$icon-perm_phone_msg: "\eb67";
$icon-perm_scan_wifi: "\eb68";
$icon-person: "\eb69";
$icon-person_add: "\eb6a";
$icon-person_pin: "\eb6b";
$icon-person_pin_circle: "\eb6c";
$icon-personal_video: "\eb6d";
$icon-phone_android: "\eb6f";
$icon-phone_iphone: "\eb73";
$icon-phonelink_erase: "\eb77";
$icon-phonelink_lock: "\eb78";
$icon-phonelink_off: "\eb79";
$icon-phonelink_ring: "\eb7a";
$icon-phonelink_setup: "\eb7b";
$icon-photo_album: "\eb7c";
$icon-photo_filter: "\eb7d";
$icon-photo_size_select_actual: "\eb7e";
$icon-photo_size_select_large: "\eb7f";
$icon-photo_size_select_small: "\eb80";
$icon-picture_as_pdf: "\eb81";
$icon-picture_in_picture: "\eb82";
$icon-picture_in_picture_alt: "\eb83";
$icon-pie_chart: "\eb84";
$icon-pie_chart_outlined: "\eb85";
$icon-pin_drop: "\eb86";
$icon-play_arrow: "\eb87";
$icon-play_circle_filled: "\eb88";
$icon-play_circle_outline: "\eb89";
$icon-play_for_work: "\eb8a";
$icon-playlist_add: "\eb8b";
$icon-playlist_add_check: "\eb8c";
$icon-playlist_play: "\eb8d";
$icon-plus_one: "\eb8e";
$icon-portable_wifi_off: "\eb91";
$icon-power_input: "\eb94";
$icon-power_settings_new: "\eb95";
$icon-present_to_all: "\eb97";
$icon-priority_high: "\eb98";
$icon-public: "\eb99";
$icon-publish: "\eb9a";
$icon-queue_music: "\eb9b";
$icon-queue_play_next: "\eb9c";
$icon-radio: "\eb9d";
$icon-radio_button_checked: "\eb9e";
$icon-rate_review: "\eb9f";
$icon-receipt: "\eba0";
$icon-recent_actors: "\eba1";
$icon-record_voice_over: "\eba2";
$icon-redo: "\eba3";
$icon-refresh: "\eba4";
$icon-remove: "\eba5";
$icon-remove_circle_outline: "\eba6";
$icon-remove_from_queue: "\eba7";
$icon-visibility: "\eba8";
$icon-reorder: "\ebaa";
$icon-repeat: "\ebab";
$icon-repeat_one: "\ebac";
$icon-replay: "\ebad";
$icon-replay_10: "\ebae";
$icon-replay_30: "\ebaf";
$icon-replay_5: "\ebb0";
$icon-reply: "\ebb1";
$icon-reply_all: "\ebb2";
$icon-report: "\ebb3";
$icon-warning: "\ebb4";
$icon-restaurant: "\ebb5";
$icon-restore_page: "\ebb6";
$icon-room_service: "\ebb8";
$icon-rotate_90_degrees_ccw: "\ebb9";
$icon-rotate_left: "\ebba";
$icon-rotate_right: "\ebbb";
$icon-rounded_corner: "\ebbc";
$icon-router: "\ebbd";
$icon-rowing: "\ebbe";
$icon-rss_feed: "\ebbf";
$icon-rv_hookup: "\ebc0";
$icon-satellite: "\ebc1";
$icon-save: "\ebc2";
$icon-scanner: "\ebc3";
$icon-school: "\ebc4";
$icon-screen_lock_landscape: "\ebc5";
$icon-screen_lock_portrait: "\ebc6";
$icon-screen_share: "\ebc9";
$icon-sd_storage: "\ebca";
$icon-search: "\ebcb";
$icon-select_all: "\ebcd";
$icon-send: "\ebce";
$icon-settings: "\ebd4";
$icon-settings_applications: "\ebd5";
$icon-settings_backup_restore: "\ebd6";
$icon-settings_bluetooth: "\ebd7";
$icon-settings_brightness: "\ebd8";
$icon-settings_cell: "\ebd9";
$icon-settings_ethernet: "\ebda";
$icon-settings_input_antenna: "\ebdb";
$icon-settings_input_svideo: "\ebde";
$icon-settings_overscan: "\ebdf";
$icon-settings_phone: "\ebe0";
$icon-settings_power: "\ebe1";
$icon-settings_remote: "\ebe2";
$icon-settings_system_daydream: "\ebe3";
$icon-settings_voice: "\ebe4";
$icon-share: "\ebe5";
$icon-shop: "\ebe6";
$icon-shop_two: "\ebe7";
$icon-shopping_basket: "\ebe8";
$icon-short_text: "\ebe9";
$icon-show_chart: "\ebea";
$icon-shuffle: "\ebeb";
$icon-signal_cellular_4_bar: "\ebec";
$icon-signal_cellular_connected_no_internet_4_bar: "\ebed";
$icon-signal_cellular_null: "\ebee";
$icon-sim_card: "\ebf3";
$icon-sim_card_alert: "\ebf4";
$icon-skip_next: "\ebf5";
$icon-skip_previous: "\ebf6";
$icon-slideshow: "\ebf7";
$icon-slow_motion_video: "\ebf8";
$icon-stay_primary_portrait: "\ebf9";
$icon-smoke_free: "\ebfa";
$icon-smoking_rooms: "\ebfb";
$icon-textsms: "\ebfc";
$icon-snooze: "\ebfd";
$icon-sort: "\ebfe";
$icon-sort_by_alpha: "\ebff";
$icon-space_bar: "\ec01";
$icon-speaker: "\ec02";
$icon-speaker_group: "\ec03";
$icon-speaker_notes: "\ec04";
$icon-speaker_notes_off: "\ec05";
$icon-speaker_phone: "\ec06";
$icon-spellcheck: "\ec07";
$icon-star_border: "\ec08";
$icon-star_half: "\ec09";
$icon-stars: "\ec0a";
$icon-stay_primary_landscape: "\ec0b";
$icon-stop: "\ec0c";
$icon-stop_screen_share: "\ec0d";
$icon-storage: "\ec0e";
$icon-strikethrough_s: "\ec12";
$icon-style: "\ec13";
$icon-subdirectory_arrow_left: "\ec14";
$icon-subdirectory_arrow_right: "\ec15";
$icon-subject: "\ec16";
$icon-subscriptions: "\ec17";
$icon-subtitles: "\ec18";
$icon-supervisor_account: "\ec1a";
$icon-surround_sound: "\ec1b";
$icon-swap_calls: "\ec1c";
$icon-swap_horiz: "\ec1d";
$icon-swap_vert: "\ec1e";
$icon-switch_video: "\ec21";
$icon-sync_disabled: "\ec22";
$icon-sync_problem: "\ec23";
$icon-system_update: "\ec24";
$icon-system_update_alt: "\ec25";
$icon-tab: "\ec26";
$icon-tab_unselected: "\ec27";
$icon-tablet: "\ec28";
$icon-tablet_android: "\ec29";
$icon-tablet_mac: "\ec2a";
$icon-tap_and_play: "\ec2b";
$icon-text_format: "\ec2d";
$icon-texture: "\ec2e";
$icon-thumb_down: "\ec2f";
$icon-thumb_up: "\ec30";
$icon-thumbs_up_down: "\ec31";
$icon-timelapse: "\ec32";
$icon-timeline: "\ec33";
$icon-timer: "\ec34";
$icon-timer_off: "\ec37";
$icon-title: "\ec38";
$icon-toc: "\ec39";
$icon-today: "\ec3a";
$icon-toll: "\ec3b";
$icon-tonality: "\ec3c";
$icon-touch_app: "\ec3d";
$icon-toys: "\ec3e";
$icon-track_changes: "\ec3f";
$icon-transfer_within_a_station: "\ec43";
$icon-transform: "\ec44";
$icon-translate: "\ec45";
$icon-trending_down: "\ec46";
$icon-trending_flat: "\ec47";
$icon-trending_up: "\ec48";
$icon-tune: "\ec49";
$icon-tv: "\ec4a";
$icon-unarchive: "\ec4b";
$icon-undo: "\ec4c";
$icon-unfold_less: "\ec4d";
$icon-unfold_more: "\ec4e";
$icon-update: "\ec4f";
$icon-usb: "\ec50";
$icon-verified_user: "\ec51";
$icon-vertical_align_bottom: "\ec52";
$icon-vertical_align_center: "\ec53";
$icon-vertical_align_top: "\ec54";
$icon-vibration: "\ec55";
$icon-video_call: "\ec56";
$icon-video_label: "\ec57";
$icon-video_library: "\ec58";
$icon-videocam: "\ec59";
$icon-videocam_off: "\ec5a";
$icon-view_agenda: "\ec5c";
$icon-view_array: "\ec5d";
$icon-view_carousel: "\ec5e";
$icon-view_column: "\ec5f";
$icon-view_comfy: "\ec60";
$icon-view_compact: "\ec61";
$icon-view_day: "\ec62";
$icon-view_headline: "\ec63";
$icon-view_list: "\ec64";
$icon-view_module: "\ec65";
$icon-view_quilt: "\ec66";
$icon-view_stream: "\ec67";
$icon-view_week: "\ec68";
$icon-visibility_off: "\ec6a";
$icon-voice_chat: "\ec6b";
$icon-voicemail: "\ec6c";
$icon-volume_down: "\ec6d";
$icon-volume_mute: "\ec6e";
$icon-volume_off: "\ec6f";
$icon-volume_up: "\ec70";
$icon-vpn_lock: "\ec72";
$icon-wallpaper: "\ec73";
$icon-watch: "\ec74";
$icon-watch_later: "\ec75";
$icon-wb_incandescent: "\ec77";
$icon-wb_iridescent: "\ec78";
$icon-wb_sunny: "\ec79";
$icon-wc: "\ec7a";
$icon-web: "\ec7b";
$icon-web_asset: "\ec7c";
$icon-weekend: "\ec7d";
$icon-whatshot: "\ec7e";
$icon-widgets: "\ec7f";
$icon-wifi: "\ec80";
$icon-wifi_lock: "\ec81";
$icon-wifi_tethering: "\ec82";
$icon-work: "\ec83";
$icon-wrap_text: "\ec84";
$icon-youtube_searched_for: "\ec85";
$icon-zoom_in: "\ec86";
$icon-zoom_out: "\ec87";
$icon-zoom_out_map: "\ec88";
$icon-Matrix: "\e902";
$icon-Multiple-Choice: "\e903";
$icon-Multiple-Answer: "\e92a";
$icon-backroom: "\e929";
$icon-QB-icon: "\e925";
$icon-noun_667383: "\e921";
$icon-noun_667388: "\e922";
$icon-noun_101540: "\e91f";
$icon-noun_101538: "\e920";
$icon-noun_731377: "\e91b";
$icon-noun_356784: "\e91c";
$icon-noun_640064: "\e91d";
$icon-noun_146096: "\e91e";
$icon-noun_356772: "\e919";
$icon-noun_356786: "\e91a";
$icon-noun-completes: "\e913";
$icon-noun-globe: "\e910";
$icon-noun-flag: "\e912";
$icon-noun-circle-down: "\e914";
$icon-noun-circle-up: "\e915";
$icon-noun-posts: "\e916";
$icon-noun-translation: "\e918";
$icon-add-tag: "\e90e";
$icon-download: "\e90f";
$icon-elipsis-circle: "\e923";
$icon-required-followup: "\e926";
$icon-history: "\e927";
$icon-followup: "\e928";
$icon-ion-alert-circled: "\f100";
$icon-ion-alert: "\f101";
$icon-ion-android-add-circle: "\f359";
$icon-ion-android-add: "\f2c7";
$icon-ion-android-alarm-clock: "\f35a";
$icon-ion-android-alert: "\f35b";
$icon-ion-android-apps: "\f35c";
$icon-ion-android-archive: "\f2c9";
$icon-ion-android-arrow-back: "\f2ca";
$icon-ion-android-arrow-down: "\f35d";
$icon-ion-android-arrow-dropdown-circle: "\f35e";
$icon-ion-android-arrow-dropdown: "\f35f";
$icon-ion-android-arrow-dropleft-circle: "\f360";
$icon-ion-android-arrow-dropleft: "\f361";
$icon-ion-android-arrow-dropright-circle: "\f362";
$icon-ion-android-arrow-dropright: "\f363";
$icon-ion-android-arrow-dropup-circle: "\f364";
$icon-ion-android-arrow-dropup: "\f365";
$icon-ion-android-arrow-forward: "\f30f";
$icon-ion-android-arrow-up: "\f366";
$icon-ion-android-attach: "\f367";
$icon-ion-android-bar: "\f368";
$icon-ion-android-bicycle: "\f369";
$icon-ion-android-boat: "\f36a";
$icon-ion-android-bookmark: "\f36b";
$icon-ion-android-bulb: "\f36c";
$icon-ion-android-bus: "\f36d";
$icon-ion-android-calendar: "\f2d1";
$icon-ion-android-call: "\f2d2";
$icon-ion-android-camera: "\f2d3";
$icon-ion-android-cancel: "\f36e";
$icon-ion-android-car: "\f36f";
$icon-ion-android-cart: "\f370";
$icon-ion-android-chat: "\f2d4";
$icon-ion-android-checkbox-blank: "\f371";
$icon-ion-android-checkbox-outline-blank: "\f372";
$icon-ion-android-checkbox-outline: "\f373";
$icon-ion-android-checkbox: "\f374";
$icon-ion-android-checkmark-circle: "\f375";
$icon-ion-android-clipboard: "\f376";
$icon-ion-android-close: "\f2d7";
$icon-ion-android-cloud-circle: "\f377";
$icon-ion-android-cloud-done: "\f378";
$icon-ion-android-cloud-outline: "\f379";
$icon-ion-android-cloud: "\f37a";
$icon-ion-android-color-palette: "\f37b";
$icon-ion-android-compass: "\f37c";
$icon-ion-android-contract: "\f37d";
$icon-ion-android-create: "\f37e";
$icon-ion-android-delete: "\f37f";
$icon-ion-android-desktop: "\f380";
$icon-ion-android-document: "\f381";
$icon-ion-android-done-all: "\f382";
$icon-ion-android-done: "\f383";
$icon-ion-android-download: "\f2dd";
$icon-ion-android-drafts: "\f384";
$icon-ion-android-exit: "\f385";
$icon-ion-android-expand: "\f386";
$icon-ion-android-favorite-outline: "\f387";
$icon-ion-android-favorite: "\f388";
$icon-ion-android-film: "\f389";
$icon-ion-android-folder-open: "\f38a";
$icon-ion-android-folder: "\f2e0";
$icon-ion-android-funnel: "\f38b";
$icon-ion-android-globe: "\f38c";
$icon-ion-android-hand: "\f2e3";
$icon-ion-android-hangout: "\f38d";
$icon-ion-android-happy: "\f38e";
$icon-ion-android-home: "\f38f";
$icon-ion-android-image: "\f2e4";
$icon-ion-android-laptop: "\f390";
$icon-ion-android-list: "\f391";
$icon-ion-android-locate: "\f2e9";
$icon-ion-android-lock: "\f392";
$icon-ion-android-mail: "\f2eb";
$icon-ion-android-map: "\f393";
$icon-ion-android-menu: "\f394";
$icon-ion-android-microphone-off: "\f395";
$icon-ion-android-microphone: "\f2ec";
$icon-ion-android-more-horizontal: "\f396";
$icon-ion-android-more-vertical: "\f397";
$icon-ion-android-navigate: "\f398";
$icon-ion-android-notifications-none: "\f399";
$icon-ion-android-notifications-off: "\f39a";
$icon-ion-android-notifications: "\f39b";
$icon-ion-android-open: "\f39c";
$icon-ion-android-options: "\f39d";
$icon-ion-android-phone-landscape: "\f3a1";
$icon-ion-android-phone-portrait: "\f3a2";
$icon-ion-android-pin: "\f3a3";
$icon-ion-android-plane: "\f3a4";
$icon-ion-android-playstore: "\f2f0";
$icon-ion-android-print: "\f3a5";
$icon-ion-android-radio-button-off: "\f3a6";
$icon-ion-android-radio-button-on: "\f3a7";
$icon-ion-android-refresh: "\f3a8";
$icon-ion-android-remove-circle: "\f3a9";
$icon-ion-android-remove: "\f2f4";
$icon-ion-android-search: "\f2f5";
$icon-ion-android-send: "\f2f6";
$icon-ion-android-settings: "\f2f7";
$icon-ion-android-share-alt: "\f3ac";
$icon-ion-android-share: "\f2f8";
$icon-ion-android-star-half: "\f3ad";
$icon-ion-android-star-outline: "\f3ae";
$icon-ion-android-star: "\f2fc";
$icon-ion-android-stopwatch: "\f2fd";
$icon-ion-android-sunny: "\f3b0";
$icon-ion-android-sync: "\f3b1";
$icon-ion-android-textsms: "\f3b2";
$icon-ion-android-time: "\f3b3";
$icon-ion-android-unlock: "\f3b5";
$icon-ion-android-upload: "\f3b6";
$icon-ion-android-volume-down: "\f3b7";
$icon-ion-android-volume-mute: "\f3b8";
$icon-ion-android-volume-off: "\f3b9";
$icon-ion-android-volume-up: "\f3ba";
$icon-ion-android-walk: "\f3bb";
$icon-ion-android-warning: "\f3bc";
$icon-ion-android-watch: "\f3bd";
$icon-ion-android-wifi: "\f305";
$icon-ion-aperture: "\f313";
$icon-ion-archive: "\f102";
$icon-ion-arrow-down-a: "\f103";
$icon-ion-arrow-down-b: "\f104";
$icon-ion-arrow-down-c: "\f105";
$icon-ion-arrow-expand: "\f25e";
$icon-ion-arrow-graph-down-left: "\f25f";
$icon-ion-arrow-graph-down-right: "\f260";
$icon-ion-arrow-graph-up-left: "\f261";
$icon-ion-arrow-graph-up-right: "\f262";
$icon-ion-arrow-left-a: "\f106";
$icon-ion-arrow-left-b: "\f107";
$icon-ion-arrow-left-c: "\f108";
$icon-ion-arrow-move: "\f263";
$icon-ion-arrow-resize: "\f264";
$icon-ion-arrow-return-left: "\f265";
$icon-ion-arrow-return-right: "\f266";
$icon-ion-arrow-right-a: "\f109";
$icon-ion-arrow-right-b: "\f10a";
$icon-ion-arrow-right-c: "\f10b";
$icon-ion-arrow-shrink: "\f267";
$icon-ion-arrow-swap: "\f268";
$icon-ion-arrow-up-a: "\f10c";
$icon-ion-arrow-up-b: "\f10d";
$icon-ion-arrow-up-c: "\f10e";
$icon-ion-asterisk: "\f314";
$icon-ion-at: "\f10f";
$icon-ion-backspace-outline: "\f3be";
$icon-ion-backspace: "\f3bf";
$icon-ion-beaker: "\f269";
$icon-ion-bookmark: "\f26b";
$icon-ion-briefcase: "\f26c";
$icon-ion-calculator: "\f26d";
$icon-ion-calendar: "\f117";
$icon-ion-camera: "\f118";
$icon-ion-chatbox-working: "\f11a";
$icon-ion-chatbox: "\f11b";
$icon-ion-chatboxes: "\f11c";
$icon-ion-chatbubble-working: "\f11d";
$icon-ion-chatbubble: "\f11e";
$icon-ion-chatbubbles: "\f11f";
$icon-ion-checkmark-circled: "\f120";
$icon-ion-checkmark-round: "\f121";
$icon-ion-checkmark: "\f122";
$icon-ion-chevron-down: "\f123";
$icon-ion-chevron-left: "\f124";
$icon-ion-chevron-right: "\f125";
$icon-ion-chevron-up: "\f126";
$icon-ion-clipboard: "\f127";
$icon-ion-clock: "\f26e";
$icon-ion-close-circled: "\f128";
$icon-ion-close-round: "\f129";
$icon-ion-close: "\f12a";
$icon-ion-closed-captioning: "\f317";
$icon-ion-cloud: "\f12b";
$icon-ion-code-download: "\f26f";
$icon-ion-code-working: "\f270";
$icon-ion-code: "\f271";
$icon-ion-coffee: "\f272";
$icon-ion-compass: "\f273";
$icon-ion-compose: "\f12c";
$icon-ion-connection-bars: "\f274";
$icon-ion-contrast: "\f275";
$icon-ion-crop: "\f3c1";
$icon-ion-cube: "\f318";
$icon-ion-disc: "\f12d";
$icon-ion-drag: "\f130";
$icon-ion-earth: "\f276";
$icon-ion-easel: "\f3c2";
$icon-ion-edit: "\f2bf";
$icon-ion-egg: "\f277";
$icon-ion-eject: "\f131";
$icon-ion-email-unread: "\f3c3";
$icon-ion-email: "\f132";
$icon-ion-erlenmeyer-flask-bubbles: "\f3c4";
$icon-ion-erlenmeyer-flask: "\f3c5";
$icon-ion-eye-disabled: "\f306";
$icon-ion-eye: "\f133";
$icon-ion-female: "\f278";
$icon-ion-filing: "\f134";
$icon-ion-film-marker: "\f135";
$icon-ion-fireball: "\f319";
$icon-ion-flag: "\f279";
$icon-ion-flash: "\f137";
$icon-ion-folder: "\f139";
$icon-ion-fork: "\f27a";
$icon-ion-forward: "\f13a";
$icon-ion-funnel: "\f31b";
$icon-ion-gear-a: "\f13d";
$icon-ion-gear-b: "\f13e";
$icon-ion-grid: "\f13f";
$icon-ion-hammer: "\f27b";
$icon-ion-happy-outline: "\f3c6";
$icon-ion-happy: "\f31c";
$icon-ion-headphone: "\f140";
$icon-ion-heart-broken: "\f31d";
$icon-ion-heart: "\f141";
$icon-ion-help-buoy: "\f27c";
$icon-ion-help-circled: "\f142";
$icon-ion-help: "\f143";
$icon-ion-home: "\f144";
$icon-ion-icecream: "\f27d";
$icon-ion-image: "\f147";
$icon-ion-images: "\f148";
$icon-ion-information-circled: "\f149";
$icon-ion-information: "\f14a";
$icon-ion-ios-albums-outline: "\f3c9";
$icon-ion-ios-albums: "\f3ca";
$icon-ion-ios-arrow-back: "\f3cf";
$icon-ion-ios-arrow-down: "\f3d0";
$icon-ion-ios-arrow-forward: "\f3d1";
$icon-ion-ios-arrow-left: "\f3d2";
$icon-ion-ios-arrow-right: "\f3d3";
$icon-ion-ios-arrow-thin-down: "\f3d4";
$icon-ion-ios-arrow-thin-left: "\f3d5";
$icon-ion-ios-arrow-thin-right: "\f3d6";
$icon-ion-ios-arrow-thin-up: "\f3d7";
$icon-ion-ios-arrow-up: "\f3d8";
$icon-ion-ios-at-outline: "\f3d9";
$icon-ion-ios-chatboxes: "\f3fa";
$icon-ion-ios-chatbubble: "\f3fc";
$icon-ion-ios-home: "\f448";
$icon-ion-ios-lightbulb: "\f452";
$icon-ion-ios-minus: "\f464";
$icon-ion-ios-undo: "\f4c7";
$icon-ion-ipad: "\f1f9";
$icon-ion-iphone: "\f1fa";
$icon-ion-ipod: "\f1fb";
$icon-ion-key: "\f296";
$icon-ion-laptop: "\f1fc";
$icon-ion-levels: "\f298";
$icon-ion-link: "\f1fe";
$icon-ion-load-b: "\f29b";
$icon-ion-load-c: "\f29c";
$icon-ion-load-d: "\f29d";
$icon-ion-location: "\f1ff";
$icon-ion-lock-combination: "\f4d4";
$icon-ion-locked: "\f200";
$icon-ion-log-in: "\f29e";
$icon-ion-log-out: "\f29f";
$icon-ion-loop: "\f201";
$icon-ion-magnet: "\f2a0";
$icon-ion-man: "\f202";
$icon-ion-map: "\f203";
$icon-ion-medkit: "\f2a2";
$icon-ion-merge: "\f33f";
$icon-ion-mic-a: "\f204";
$icon-ion-mic-b: "\f205";
$icon-ion-mic-c: "\f206";
$icon-ion-minus-circled: "\f207";
$icon-ion-minus-round: "\f208";
$icon-ion-minus: "\f209";
$icon-ion-monitor: "\f20a";
$icon-ion-more: "\f20b";
$icon-ion-mouse: "\f340";
$icon-ion-music-note: "\f20c";
$icon-ion-navicon-round: "\f20d";
$icon-ion-navicon: "\f20e";
$icon-ion-navigate: "\f2a3";
$icon-ion-outlet: "\f342";
$icon-ion-paintbrush: "\f4d5";
$icon-ion-paintbucket: "\f4d6";
$icon-ion-paper-airplane: "\f2c3";
$icon-ion-paperclip: "\f20f";
$icon-ion-pause: "\f210";
$icon-ion-person: "\f213";
$icon-ion-pie-graph: "\f2a5";
$icon-ion-pin: "\f2a6";
$icon-ion-pinpoint: "\f2a7";
$icon-ion-planet: "\f343";
$icon-ion-play: "\f215";
$icon-ion-plus-circled: "\f216";
$icon-ion-plus-round: "\f217";
$icon-ion-plus: "\f218";
$icon-ion-podium: "\f344";
$icon-ion-power: "\f2a9";
$icon-ion-pricetag: "\f2aa";
$icon-ion-pricetags: "\f2ab";
$icon-ion-printer: "\f21a";
$icon-ion-pull-request: "\f345";
$icon-ion-qr-scanner: "\f346";
$icon-ion-quote: "\f347";
$icon-ion-radio-waves: "\f2ac";
$icon-ion-record: "\f21b";
$icon-ion-refresh: "\f21c";
$icon-ion-reply-all: "\f21d";
$icon-ion-reply: "\f21e";
$icon-ion-ribbon-a: "\f348";
$icon-ion-ribbon-b: "\f349";
$icon-ion-search: "\f21f";
$icon-ion-settings: "\f2ad";
$icon-ion-share: "\f220";
$icon-ion-shuffle: "\f221";
$icon-ion-skip-backward: "\f222";
$icon-ion-skip-forward: "\f223";
$icon-ion-social-buffer-outline: "\f228";
$icon-ion-social-buffer: "\f229";
$icon-ion-social-dropbox-outline: "\f22e";
$icon-ion-social-dropbox: "\f22f";
$icon-ion-social-facebook-outline: "\f230";
$icon-ion-social-facebook: "\f231";
$icon-ion-social-google-outline: "\f34e";
$icon-ion-social-google: "\f34f";
$icon-ion-social-googleplus-outline: "\f234";
$icon-ion-social-instagram-outline: "\f350";
$icon-ion-social-instagram: "\f351";
$icon-ion-social-linkedin-outline: "\f238";
$icon-ion-social-linkedin: "\f239";
$icon-ion-social-rss-outline: "\f23c";
$icon-ion-social-rss: "\f23d";
$icon-ion-social-tumblr-outline: "\f240";
$icon-ion-social-tumblr: "\f241";
$icon-ion-social-twitter-outline: "\f242";
$icon-ion-social-twitter: "\f243";
$icon-ion-social-usd: "\f353";
$icon-ion-social-whatsapp-outline: "\f4ef";
$icon-ion-social-whatsapp: "\f4f0";
$icon-ion-speakerphone: "\f2b2";
$icon-ion-speedometer: "\f2b3";
$icon-ion-star: "\f24e";
$icon-ion-stats-bars: "\f2b5";
$icon-ion-stop: "\f24f";
$icon-ion-thumbsdown: "\f250";
$icon-ion-thumbsup: "\f251";
$icon-ion-trash-b: "\f253";
$icon-ion-trophy: "\f356";
$icon-ion-umbrella: "\f2b7";
$icon-ion-university: "\f357";
$icon-ion-unlocked: "\f254";
$icon-ion-upload: "\f255";
$icon-ion-videocamera: "\f256";
$icon-ion-volume-mute: "\f25a";
$icon-ion-wand: "\f358";
$icon-ion-waterdrop: "\f25b";
$icon-ion-wifi: "\f25c";
$icon-ion-wineglass: "\f2b9";
$icon-ion-wrench: "\f2ba";
$icon-File-import: "\ec89";
$icon-Copy-paste: "\ec8a";
