$icomoon-font-path: "/sass/fonts" !default;

$icon-Activity: "\e900";
$icon-ion-alert-circled: "\f100";
$icon-ion-alert: "\f101";
$icon-ion-android-add-circle: "\f359";
$icon-ion-android-add: "\f2c7";
$icon-ion-android-alarm-clock: "\f35a";
$icon-ion-android-alert: "\f35b";
$icon-ion-android-apps: "\f35c";
$icon-ion-android-archive: "\f2c9";
$icon-ion-android-arrow-back: "\f2ca";
$icon-ion-android-arrow-down: "\f35d";
$icon-ion-android-arrow-dropdown-circle: "\f35e";
$icon-ion-android-arrow-dropdown: "\f35f";
$icon-ion-android-arrow-dropleft-circle: "\f360";
$icon-ion-android-arrow-dropleft: "\f361";
$icon-ion-android-arrow-dropright-circle: "\f362";
$icon-ion-android-arrow-dropright: "\f363";
$icon-ion-android-arrow-dropup-circle: "\f364";
$icon-ion-android-arrow-dropup: "\f365";
$icon-ion-android-arrow-forward: "\f30f";
$icon-ion-android-arrow-up: "\f366";
$icon-ion-android-attach: "\f367";
$icon-ion-android-bar: "\f368";
$icon-ion-android-bicycle: "\f369";
$icon-ion-android-boat: "\f36a";
$icon-ion-android-bookmark: "\f36b";
$icon-ion-android-bulb: "\f36c";
$icon-ion-android-bus: "\f36d";
$icon-ion-android-calendar: "\f2d1";
$icon-ion-android-call: "\f2d2";
$icon-ion-android-camera: "\f2d3";
$icon-ion-android-cancel: "\f36e";
$icon-ion-android-car: "\f36f";
$icon-ion-android-cart: "\f370";
$icon-ion-android-chat: "\f2d4";
$icon-ion-android-checkbox-blank: "\f371";
$icon-ion-android-checkbox-outline-blank: "\f372";
$icon-ion-android-checkbox-outline: "\f373";
$icon-ion-android-checkbox: "\f374";
$icon-ion-android-checkmark-circle: "\f375";
$icon-ion-android-clipboard: "\f376";
$icon-ion-android-close: "\f2d7";
$icon-ion-android-cloud-circle: "\f377";
$icon-ion-android-cloud-done: "\f378";
$icon-ion-android-cloud-outline: "\f379";
$icon-ion-android-cloud: "\f37a";
$icon-ion-android-color-palette: "\f37b";
$icon-ion-android-compass: "\f37c";
$icon-ion-android-contact: "\f2d8";
$icon-ion-android-contacts: "\f2d9";
$icon-ion-android-contract: "\f37d";
$icon-ion-android-create: "\f37e";
$icon-ion-android-delete: "\f37f";
$icon-ion-android-desktop: "\f380";
$icon-ion-android-document: "\f381";
$icon-ion-android-done-all: "\f382";
$icon-ion-android-done: "\f383";
$icon-ion-android-download: "\f2dd";
$icon-ion-android-drafts: "\f384";
$icon-ion-android-exit: "\f385";
$icon-ion-android-expand: "\f386";
$icon-ion-android-favorite-outline: "\f387";
$icon-ion-android-favorite: "\f388";
$icon-ion-android-film: "\f389";
$icon-ion-android-folder-open: "\f38a";
$icon-ion-android-folder: "\f2e0";
$icon-ion-android-funnel: "\f38b";
$icon-ion-android-globe: "\f38c";
$icon-ion-android-hand: "\f2e3";
$icon-ion-android-hangout: "\f38d";
$icon-ion-android-happy: "\f38e";
$icon-ion-android-home: "\f38f";
$icon-ion-android-image: "\f2e4";
$icon-ion-android-laptop: "\f390";
$icon-ion-android-list: "\f391";
$icon-ion-android-locate: "\f2e9";
$icon-ion-android-lock: "\f392";
$icon-ion-android-mail: "\f2eb";
$icon-ion-android-map: "\f393";
$icon-ion-android-menu: "\f394";
$icon-ion-android-microphone-off: "\f395";
$icon-ion-android-microphone: "\f2ec";
$icon-ion-android-more-horizontal: "\f396";
$icon-ion-android-more-vertical: "\f397";
$icon-ion-android-navigate: "\f398";
$icon-ion-android-notifications-none: "\f399";
$icon-ion-android-notifications-off: "\f39a";
$icon-ion-android-notifications: "\f39b";
$icon-ion-android-open: "\f39c";
$icon-ion-android-options: "\f39d";
$icon-ion-android-people: "\f39e";
$icon-ion-android-person-add: "\f39f";
$icon-ion-android-person: "\f3a0";
$icon-ion-android-phone-landscape: "\f3a1";
$icon-ion-android-phone-portrait: "\f3a2";
$icon-ion-android-pin: "\f3a3";
$icon-ion-android-plane: "\f3a4";
$icon-ion-android-playstore: "\f2f0";
$icon-ion-android-print: "\f3a5";
$icon-ion-android-radio-button-off: "\f3a6";
$icon-ion-android-radio-button-on: "\f3a7";
$icon-ion-android-refresh: "\f3a8";
$icon-ion-android-remove-circle: "\f3a9";
$icon-ion-android-remove: "\f2f4";
$icon-ion-android-restaurant: "\f3aa";
$icon-ion-android-sad: "\f3ab";
$icon-ion-android-search: "\f2f5";
$icon-ion-android-send: "\f2f6";
$icon-ion-android-settings: "\f2f7";
$icon-ion-android-share-alt: "\f3ac";
$icon-ion-android-share: "\f2f8";
$icon-ion-android-star-half: "\f3ad";
$icon-ion-android-star-outline: "\f3ae";
$icon-ion-android-star: "\f2fc";
$icon-ion-android-stopwatch: "\f2fd";
$icon-ion-android-subway: "\f3af";
$icon-ion-android-sunny: "\f3b0";
$icon-ion-android-sync: "\f3b1";
$icon-ion-android-textsms: "\f3b2";
$icon-ion-android-time: "\f3b3";
$icon-ion-android-train: "\f3b4";
$icon-ion-android-unlock: "\f3b5";
$icon-ion-android-upload: "\f3b6";
$icon-ion-android-volume-down: "\f3b7";
$icon-ion-android-volume-mute: "\f3b8";
$icon-ion-android-volume-off: "\f3b9";
$icon-ion-android-volume-up: "\f3ba";
$icon-ion-android-walk: "\f3bb";
$icon-ion-android-warning: "\f3bc";
$icon-ion-android-watch: "\f3bd";
$icon-ion-android-wifi: "\f305";
$icon-ion-aperture: "\f313";
$icon-ion-archive: "\f102";
$icon-ion-arrow-down-a: "\f103";
$icon-ion-arrow-down-b: "\f104";
$icon-ion-arrow-down-c: "\f105";
$icon-ion-arrow-expand: "\f25e";
$icon-ion-arrow-graph-down-left: "\f25f";
$icon-ion-arrow-graph-down-right: "\f260";
$icon-ion-arrow-graph-up-left: "\f261";
$icon-ion-arrow-graph-up-right: "\f262";
$icon-ion-arrow-left-a: "\f106";
$icon-ion-arrow-left-b: "\f107";
$icon-ion-arrow-left-c: "\f108";
$icon-ion-arrow-move: "\f263";
$icon-ion-arrow-resize: "\f264";
$icon-ion-arrow-return-left: "\f265";
$icon-ion-arrow-return-right: "\f266";
$icon-ion-arrow-right-a: "\f109";
$icon-ion-arrow-right-b: "\f10a";
$icon-ion-arrow-right-c: "\f10b";
$icon-ion-arrow-shrink: "\f267";
$icon-ion-arrow-swap: "\f268";
$icon-ion-arrow-up-a: "\f10c";
$icon-ion-arrow-up-b: "\f10d";
$icon-ion-arrow-up-c: "\f10e";
$icon-ion-asterisk: "\f314";
$icon-ion-at: "\f10f";
$icon-ion-backspace-outline: "\f3be";
$icon-ion-backspace: "\f3bf";
$icon-ion-bag: "\f110";
$icon-ion-battery-charging: "\f111";
$icon-ion-battery-empty: "\f112";
$icon-ion-battery-full: "\f113";
$icon-ion-battery-half: "\f114";
$icon-ion-battery-low: "\f115";
$icon-ion-beaker: "\f269";
$icon-ion-beer: "\f26a";
$icon-ion-bluetooth: "\f116";
$icon-ion-bonfire: "\f315";
$icon-ion-bookmark: "\f26b";
$icon-ion-bowtie: "\f3c0";
$icon-ion-briefcase: "\f26c";
$icon-ion-bug: "\f2be";
$icon-ion-calculator: "\f26d";
$icon-ion-calendar: "\f117";
$icon-ion-camera: "\f118";
$icon-ion-card: "\f119";
$icon-ion-cash: "\f316";
$icon-ion-chatbox-working: "\f11a";
$icon-ion-chatbox: "\f11b";
$icon-ion-chatboxes: "\f11c";
$icon-ion-chatbubble-working: "\f11d";
$icon-ion-chatbubble: "\f11e";
$icon-ion-chatbubbles: "\f11f";
$icon-ion-checkmark-circled: "\f120";
$icon-ion-checkmark-round: "\f121";
$icon-ion-checkmark: "\f122";
$icon-ion-chevron-down: "\f123";
$icon-ion-chevron-left: "\f124";
$icon-ion-chevron-right: "\f125";
$icon-ion-chevron-up: "\f126";
$icon-ion-clipboard: "\f127";
$icon-ion-clock: "\f26e";
$icon-ion-close-circled: "\f128";
$icon-ion-close-round: "\f129";
$icon-ion-close: "\f12a";
$icon-ion-closed-captioning: "\f317";
$icon-ion-cloud: "\f12b";
$icon-ion-code-download: "\f26f";
$icon-ion-code-working: "\f270";
$icon-ion-code: "\f271";
$icon-ion-coffee: "\f272";
$icon-ion-compass: "\f273";
$icon-ion-compose: "\f12c";
$icon-ion-connection-bars: "\f274";
$icon-ion-contrast: "\f275";
$icon-ion-crop: "\f3c1";
$icon-ion-cube: "\f318";
$icon-ion-disc: "\f12d";
$icon-ion-document-text: "\f12e";
$icon-ion-document: "\f12f";
$icon-ion-drag: "\f130";
$icon-ion-earth: "\f276";
$icon-ion-easel: "\f3c2";
$icon-ion-edit: "\f2bf";
$icon-ion-egg: "\f277";
$icon-ion-eject: "\f131";
$icon-ion-email-unread: "\f3c3";
$icon-ion-email: "\f132";
$icon-ion-erlenmeyer-flask-bubbles: "\f3c4";
$icon-ion-erlenmeyer-flask: "\f3c5";
$icon-ion-eye-disabled: "\f306";
$icon-ion-eye: "\f133";
$icon-ion-female: "\f278";
$icon-ion-filing: "\f134";
$icon-ion-film-marker: "\f135";
$icon-ion-fireball: "\f319";
$icon-ion-flag: "\f279";
$icon-ion-flame: "\f31a";
$icon-ion-flash-off: "\f136";
$icon-ion-flash: "\f137";
$icon-ion-folder: "\f139";
$icon-ion-fork-repo: "\f2c0";
$icon-ion-fork: "\f27a";
$icon-ion-forward: "\f13a";
$icon-ion-funnel: "\f31b";
$icon-ion-gear-a: "\f13d";
$icon-ion-gear-b: "\f13e";
$icon-ion-grid: "\f13f";
$icon-ion-hammer: "\f27b";
$icon-ion-happy-outline: "\f3c6";
$icon-ion-happy: "\f31c";
$icon-ion-headphone: "\f140";
$icon-ion-heart-broken: "\f31d";
$icon-ion-heart: "\f141";
$icon-ion-help-buoy: "\f27c";
$icon-ion-help-circled: "\f142";
$icon-ion-help: "\f143";
$icon-ion-home: "\f144";
$icon-ion-icecream: "\f27d";
$icon-ion-image: "\f147";
$icon-ion-images: "\f148";
$icon-ion-information-circled: "\f149";
$icon-ion-information: "\f14a";
$icon-ion-ionic: "\f14b";
$icon-ion-ios-alarm-outline: "\f3c7";
$icon-ion-ios-alarm: "\f3c8";
$icon-ion-ios-albums-outline: "\f3c9";
$icon-ion-ios-albums: "\f3ca";
$icon-ion-ios-americanfootball-outline: "\f3cb";
$icon-ion-ios-americanfootball: "\f3cc";
$icon-ion-ios-analytics-outline: "\f3cd";
$icon-ion-ios-analytics: "\f3ce";
$icon-ion-ios-arrow-back: "\f3cf";
$icon-ion-ios-arrow-down: "\f3d0";
$icon-ion-ios-arrow-forward: "\f3d1";
$icon-ion-ios-arrow-left: "\f3d2";
$icon-ion-ios-arrow-right: "\f3d3";
$icon-ion-ios-arrow-thin-down: "\f3d4";
$icon-ion-ios-arrow-thin-left: "\f3d5";
$icon-ion-ios-arrow-thin-right: "\f3d6";
$icon-ion-ios-arrow-thin-up: "\f3d7";
$icon-ion-ios-arrow-up: "\f3d8";
$icon-ion-ios-at-outline: "\f3d9";
$icon-ion-ios-at: "\f3da";
$icon-ion-ios-barcode-outline: "\f3db";
$icon-ion-ios-barcode: "\f3dc";
$icon-ion-ios-baseball-outline: "\f3dd";
$icon-ion-ios-baseball: "\f3de";
$icon-ion-ios-basketball-outline: "\f3df";
$icon-ion-ios-basketball: "\f3e0";
$icon-ion-ios-bell-outline: "\f3e1";
$icon-ion-ios-bell: "\f3e2";
$icon-ion-ios-body-outline: "\f3e3";
$icon-ion-ios-body: "\f3e4";
$icon-ion-ios-bolt-outline: "\f3e5";
$icon-ion-ios-bolt: "\f3e6";
$icon-ion-ios-book-outline: "\f3e7";
$icon-ion-ios-book: "\f3e8";
$icon-ion-ios-bookmarks-outline: "\f3e9";
$icon-ion-ios-bookmarks: "\f3ea";
$icon-ion-ios-box-outline: "\f3eb";
$icon-ion-ios-box: "\f3ec";
$icon-ion-ios-briefcase-outline: "\f3ed";
$icon-ion-ios-briefcase: "\f3ee";
$icon-ion-ios-browsers-outline: "\f3ef";
$icon-ion-ios-browsers: "\f3f0";
$icon-ion-ios-calculator-outline: "\f3f1";
$icon-ion-ios-calculator: "\f3f2";
$icon-ion-ios-calendar-outline: "\f3f3";
$icon-ion-ios-calendar: "\f3f4";
$icon-ion-ios-camera-outline: "\f3f5";
$icon-ion-ios-camera: "\f3f6";
$icon-ion-ios-cart-outline: "\f3f7";
$icon-ion-ios-cart: "\f3f8";
$icon-ion-ios-chatboxes-outline: "\f3f9";
$icon-ion-ios-chatboxes: "\f3fa";
$icon-ion-ios-chatbubble-outline: "\f3fb";
$icon-ion-ios-chatbubble: "\f3fc";
$icon-ion-ios-checkmark-empty: "\f3fd";
$icon-ion-ios-checkmark-outline: "\f3fe";
$icon-ion-ios-checkmark: "\f3ff";
$icon-ion-ios-circle-filled: "\f400";
$icon-ion-ios-circle-outline: "\f401";
$icon-ion-ios-clock-outline: "\f402";
$icon-ion-ios-clock: "\f403";
$icon-ion-ios-close-empty: "\f404";
$icon-ion-ios-close-outline: "\f405";
$icon-ion-ios-close: "\f406";
$icon-ion-ios-cloud-download-outline: "\f407";
$icon-ion-ios-cloud-download: "\f408";
$icon-ion-ios-cloud-outline: "\f409";
$icon-ion-ios-cloud-upload-outline: "\f40a";
$icon-ion-ios-cloud-upload: "\f40b";
$icon-ion-ios-cloud: "\f40c";
$icon-ion-ios-cloudy-night-outline: "\f40d";
$icon-ion-ios-cloudy-night: "\f40e";
$icon-ion-ios-cloudy-outline: "\f40f";
$icon-ion-ios-cloudy: "\f410";
$icon-ion-ios-cog-outline: "\f411";
$icon-ion-ios-cog: "\f412";
$icon-ion-ios-color-filter-outline: "\f413";
$icon-ion-ios-color-filter: "\f414";
$icon-ion-ios-color-wand-outline: "\f415";
$icon-ion-ios-color-wand: "\f416";
$icon-ion-ios-compose-outline: "\f417";
$icon-ion-ios-compose: "\f418";
$icon-ion-ios-contact-outline: "\f419";
$icon-ion-ios-contact: "\f41a";
$icon-ion-ios-copy-outline: "\f41b";
$icon-ion-ios-copy: "\f41c";
$icon-ion-ios-crop-strong: "\f41d";
$icon-ion-ios-crop: "\f41e";
$icon-ion-ios-download-outline: "\f41f";
$icon-ion-ios-download: "\f420";
$icon-ion-ios-drag: "\f421";
$icon-ion-ios-email-outline: "\f422";
$icon-ion-ios-email: "\f423";
$icon-ion-ios-eye-outline: "\f424";
$icon-ion-ios-eye: "\f425";
$icon-ion-ios-fastforward-outline: "\f426";
$icon-ion-ios-fastforward: "\f427";
$icon-ion-ios-filing-outline: "\f428";
$icon-ion-ios-filing: "\f429";
$icon-ion-ios-film-outline: "\f42a";
$icon-ion-ios-film: "\f42b";
$icon-ion-ios-flag-outline: "\f42c";
$icon-ion-ios-flag: "\f42d";
$icon-ion-ios-flame-outline: "\f42e";
$icon-ion-ios-flame: "\f42f";
$icon-ion-ios-flask-outline: "\f430";
$icon-ion-ios-flask: "\f431";
$icon-ion-ios-flower-outline: "\f432";
$icon-ion-ios-flower: "\f433";
$icon-ion-ios-folder-outline: "\f434";
$icon-ion-ios-folder: "\f435";
$icon-ion-ios-football-outline: "\f436";
$icon-ion-ios-football: "\f437";
$icon-ion-ios-game-controller-a-outline: "\f438";
$icon-ion-ios-game-controller-a: "\f439";
$icon-ion-ios-game-controller-b-outline: "\f43a";
$icon-ion-ios-game-controller-b: "\f43b";
$icon-ion-ios-gear-outline: "\f43c";
$icon-ion-ios-gear: "\f43d";
$icon-ion-ios-glasses-outline: "\f43e";
$icon-ion-ios-glasses: "\f43f";
$icon-ion-ios-grid-view-outline: "\f440";
$icon-ion-ios-grid-view: "\f441";
$icon-ion-ios-heart-outline: "\f442";
$icon-ion-ios-heart: "\f443";
$icon-ion-ios-help-empty: "\f444";
$icon-ion-ios-help-outline: "\f445";
$icon-ion-ios-help: "\f446";
$icon-ion-ios-home-outline: "\f447";
$icon-ion-ios-home: "\f448";
$icon-ion-ios-infinite-outline: "\f449";
$icon-ion-ios-infinite: "\f44a";
$icon-ion-ios-information-empty: "\f44b";
$icon-ion-ios-information-outline: "\f44c";
$icon-ion-ios-information: "\f44d";
$icon-ion-ios-ionic-outline: "\f44e";
$icon-ion-ios-keypad-outline: "\f44f";
$icon-ion-ios-keypad: "\f450";
$icon-ion-ios-lightbulb-outline: "\f451";
$icon-ion-ios-lightbulb: "\f452";
$icon-ion-ios-list-outline: "\f453";
$icon-ion-ios-list: "\f454";
$icon-ion-ios-location-outline: "\f455";
$icon-ion-ios-location: "\f456";
$icon-ion-ios-locked-outline: "\f457";
$icon-ion-ios-locked: "\f458";
$icon-ion-ios-loop-strong: "\f459";
$icon-ion-ios-loop: "\f45a";
$icon-ion-ios-medical-outline: "\f45b";
$icon-ion-ios-medical: "\f45c";
$icon-ion-ios-medkit-outline: "\f45d";
$icon-ion-ios-medkit: "\f45e";
$icon-ion-ios-mic-off: "\f45f";
$icon-ion-ios-mic-outline: "\f460";
$icon-ion-ios-mic: "\f461";
$icon-ion-ios-minus-empty: "\f462";
$icon-ion-ios-minus-outline: "\f463";
$icon-ion-ios-minus: "\f464";
$icon-ion-ios-monitor-outline: "\f465";
$icon-ion-ios-monitor: "\f466";
$icon-ion-ios-moon-outline: "\f467";
$icon-ion-ios-moon: "\f468";
$icon-ion-ios-more-outline: "\f469";
$icon-ion-ios-more: "\f46a";
$icon-ion-ios-musical-note: "\f46b";
$icon-ion-ios-musical-notes: "\f46c";
$icon-ion-ios-navigate-outline: "\f46d";
$icon-ion-ios-navigate: "\f46e";
$icon-ion-ios-nutrition-outline: "\f46f";
$icon-ion-ios-nutrition: "\f470";
$icon-ion-ios-paper-outline: "\f471";
$icon-ion-ios-paper: "\f472";
$icon-ion-ios-paperplane-outline: "\f473";
$icon-ion-ios-paperplane: "\f474";
$icon-ion-ios-partlysunny-outline: "\f475";
$icon-ion-ios-partlysunny: "\f476";
$icon-ion-ios-pause-outline: "\f477";
$icon-ion-ios-pause: "\f478";
$icon-ion-ios-paw-outline: "\f479";
$icon-ion-ios-paw: "\f47a";
$icon-ion-ios-people-outline: "\f47b";
$icon-ion-ios-people: "\f47c";
$icon-ion-ios-person-outline: "\f47d";
$icon-ion-ios-person: "\f47e";
$icon-ion-ios-personadd-outline: "\f47f";
$icon-ion-ios-personadd: "\f480";
$icon-ion-ios-photos-outline: "\f481";
$icon-ion-ios-photos: "\f482";
$icon-ion-ios-pie-outline: "\f483";
$icon-ion-ios-pie: "\f484";
$icon-ion-ios-pint-outline: "\f485";
$icon-ion-ios-pint: "\f486";
$icon-ion-ios-play-outline: "\f487";
$icon-ion-ios-play: "\f488";
$icon-ion-ios-plus-empty: "\f489";
$icon-ion-ios-plus-outline: "\f48a";
$icon-ion-ios-plus: "\f48b";
$icon-ion-ios-pricetag-outline: "\f48c";
$icon-ion-ios-pricetag: "\f48d";
$icon-ion-ios-pricetags-outline: "\f48e";
$icon-ion-ios-pricetags: "\f48f";
$icon-ion-ios-printer-outline: "\f490";
$icon-ion-ios-printer: "\f491";
$icon-ion-ios-pulse-strong: "\f492";
$icon-ion-ios-pulse: "\f493";
$icon-ion-ios-rainy-outline: "\f494";
$icon-ion-ios-rainy: "\f495";
$icon-ion-ios-recording-outline: "\f496";
$icon-ion-ios-recording: "\f497";
$icon-ion-ios-redo-outline: "\f498";
$icon-ion-ios-redo: "\f499";
$icon-ion-ios-refresh-empty: "\f49a";
$icon-ion-ios-refresh-outline: "\f49b";
$icon-ion-ios-refresh: "\f49c";
$icon-ion-ios-reload: "\f49d";
$icon-ion-ios-reverse-camera-outline: "\f49e";
$icon-ion-ios-reverse-camera: "\f49f";
$icon-ion-ios-rewind-outline: "\f4a0";
$icon-ion-ios-rewind: "\f4a1";
$icon-ion-ios-rose-outline: "\f4a2";
$icon-ion-ios-rose: "\f4a3";
$icon-ion-ios-search-strong: "\f4a4";
$icon-ion-ios-search: "\f4a5";
$icon-ion-ios-settings-strong: "\f4a6";
$icon-ion-ios-settings: "\f4a7";
$icon-ion-ios-shuffle-strong: "\f4a8";
$icon-ion-ios-shuffle: "\f4a9";
$icon-ion-ios-skipbackward-outline: "\f4aa";
$icon-ion-ios-skipbackward: "\f4ab";
$icon-ion-ios-skipforward-outline: "\f4ac";
$icon-ion-ios-skipforward: "\f4ad";
$icon-ion-ios-snowy: "\f4ae";
$icon-ion-ios-speedometer-outline: "\f4af";
$icon-ion-ios-speedometer: "\f4b0";
$icon-ion-ios-star-half: "\f4b1";
$icon-ion-ios-star-outline: "\f4b2";
$icon-ion-ios-star: "\f4b3";
$icon-ion-ios-stopwatch-outline: "\f4b4";
$icon-ion-ios-stopwatch: "\f4b5";
$icon-ion-ios-sunny-outline: "\f4b6";
$icon-ion-ios-sunny: "\f4b7";
$icon-ion-ios-telephone-outline: "\f4b8";
$icon-ion-ios-telephone: "\f4b9";
$icon-ion-ios-tennisball-outline: "\f4ba";
$icon-ion-ios-tennisball: "\f4bb";
$icon-ion-ios-thunderstorm-outline: "\f4bc";
$icon-ion-ios-thunderstorm: "\f4bd";
$icon-ion-ios-time-outline: "\f4be";
$icon-ion-ios-time: "\f4bf";
$icon-ion-ios-timer-outline: "\f4c0";
$icon-ion-ios-timer: "\f4c1";
$icon-ion-ios-toggle-outline: "\f4c2";
$icon-ion-ios-toggle: "\f4c3";
$icon-ion-ios-trash-outline: "\f4c4";
$icon-ion-ios-trash: "\f4c5";
$icon-ion-ios-undo-outline: "\f4c6";
$icon-ion-ios-undo: "\f4c7";
$icon-ion-ios-unlocked-outline: "\f4c8";
$icon-ion-ios-unlocked: "\f4c9";
$icon-ion-ios-upload-outline: "\f4ca";
$icon-ion-ios-upload: "\f4cb";
$icon-ion-ios-videocam-outline: "\f4cc";
$icon-ion-ios-videocam: "\f4cd";
$icon-ion-ios-volume-high: "\f4ce";
$icon-ion-ios-volume-low: "\f4cf";
$icon-ion-ios-wineglass-outline: "\f4d0";
$icon-ion-ios-wineglass: "\f4d1";
$icon-ion-ios-world-outline: "\f4d2";
$icon-ion-ios-world: "\f4d3";
$icon-ion-ipad: "\f1f9";
$icon-ion-iphone: "\f1fa";
$icon-ion-ipod: "\f1fb";
$icon-ion-jet: "\f295";
$icon-ion-key: "\f296";
$icon-ion-knife: "\f297";
$icon-ion-laptop: "\f1fc";
$icon-ion-leaf: "\f1fd";
$icon-ion-levels: "\f298";
$icon-ion-lightbulb: "\f299";
$icon-ion-link: "\f1fe";
$icon-ion-load-a: "\f29a";
$icon-ion-load-b: "\f29b";
$icon-ion-load-c: "\f29c";
$icon-ion-load-d: "\f29d";
$icon-ion-location: "\f1ff";
$icon-ion-lock-combination: "\f4d4";
$icon-ion-locked: "\f200";
$icon-ion-log-in: "\f29e";
$icon-ion-log-out: "\f29f";
$icon-ion-loop: "\f201";
$icon-ion-magnet: "\f2a0";
$icon-ion-male: "\f2a1";
$icon-ion-man: "\f202";
$icon-ion-map: "\f203";
$icon-ion-medkit: "\f2a2";
$icon-ion-merge: "\f33f";
$icon-ion-mic-a: "\f204";
$icon-ion-mic-b: "\f205";
$icon-ion-mic-c: "\f206";
$icon-ion-minus-circled: "\f207";
$icon-ion-minus-round: "\f208";
$icon-ion-minus: "\f209";
$icon-ion-model-s: "\f2c1";
$icon-ion-monitor: "\f20a";
$icon-ion-more: "\f20b";
$icon-ion-mouse: "\f340";
$icon-ion-music-note: "\f20c";
$icon-ion-navicon-round: "\f20d";
$icon-ion-navicon: "\f20e";
$icon-ion-navigate: "\f2a3";
$icon-ion-network: "\f341";
$icon-ion-no-smoking: "\f2c2";
$icon-ion-nuclear: "\f2a4";
$icon-ion-outlet: "\f342";
$icon-ion-paintbrush: "\f4d5";
$icon-ion-paintbucket: "\f4d6";
$icon-ion-paper-airplane: "\f2c3";
$icon-ion-paperclip: "\f20f";
$icon-ion-pause: "\f210";
$icon-ion-person-add: "\f211";
$icon-ion-person-stalker: "\f212";
$icon-ion-person: "\f213";
$icon-ion-pie-graph: "\f2a5";
$icon-ion-pin: "\f2a6";
$icon-ion-pinpoint: "\f2a7";
$icon-ion-pizza: "\f2a8";
$icon-ion-plane: "\f214";
$icon-ion-planet: "\f343";
$icon-ion-play: "\f215";
$icon-ion-playstation: "\f30a";
$icon-ion-plus-circled: "\f216";
$icon-ion-plus-round: "\f217";
$icon-ion-plus: "\f218";
$icon-ion-podium: "\f344";
$icon-ion-pound: "\f219";
$icon-ion-power: "\f2a9";
$icon-ion-pricetag: "\f2aa";
$icon-ion-pricetags: "\f2ab";
$icon-ion-printer: "\f21a";
$icon-ion-pull-request: "\f345";
$icon-ion-qr-scanner: "\f346";
$icon-ion-quote: "\f347";
$icon-ion-radio-waves: "\f2ac";
$icon-ion-record: "\f21b";
$icon-ion-refresh: "\f21c";
$icon-ion-reply-all: "\f21d";
$icon-ion-reply: "\f21e";
$icon-ion-ribbon-a: "\f348";
$icon-ion-ribbon-b: "\f349";
$icon-ion-sad-outline: "\f4d7";
$icon-ion-sad: "\f34a";
$icon-ion-scissors: "\f34b";
$icon-ion-search: "\f21f";
$icon-ion-settings: "\f2ad";
$icon-ion-share: "\f220";
$icon-ion-shuffle: "\f221";
$icon-ion-skip-backward: "\f222";
$icon-ion-skip-forward: "\f223";
$icon-ion-social-android-outline: "\f224";
$icon-ion-social-android: "\f225";
$icon-ion-social-angular-outline: "\f4d8";
$icon-ion-social-angular: "\f4d9";
$icon-ion-social-apple-outline: "\f226";
$icon-ion-social-apple: "\f227";
$icon-ion-social-bitcoin-outline: "\f2ae";
$icon-ion-social-bitcoin: "\f2af";
$icon-ion-social-buffer-outline: "\f228";
$icon-ion-social-buffer: "\f229";
$icon-ion-social-chrome-outline: "\f4da";
$icon-ion-social-chrome: "\f4db";
$icon-ion-social-codepen-outline: "\f4dc";
$icon-ion-social-codepen: "\f4dd";
$icon-ion-social-css3-outline: "\f4de";
$icon-ion-social-css3: "\f4df";
$icon-ion-social-designernews-outline: "\f22a";
$icon-ion-social-designernews: "\f22b";
$icon-ion-social-dribbble-outline: "\f22c";
$icon-ion-social-dribbble: "\f22d";
$icon-ion-social-dropbox-outline: "\f22e";
$icon-ion-social-dropbox: "\f22f";
$icon-ion-social-euro-outline: "\f4e0";
$icon-ion-social-euro: "\f4e1";
$icon-ion-social-facebook-outline: "\f230";
$icon-ion-social-facebook: "\f231";
$icon-ion-social-foursquare-outline: "\f34c";
$icon-ion-social-foursquare: "\f34d";
$icon-ion-social-freebsd-devil: "\f2c4";
$icon-ion-social-github-outline: "\f232";
$icon-ion-social-github: "\f233";
$icon-ion-social-google-outline: "\f34e";
$icon-ion-social-google: "\f34f";
$icon-ion-social-googleplus-outline: "\f234";
$icon-ion-social-googleplus: "\f235";
$icon-ion-social-hackernews-outline: "\f236";
$icon-ion-social-hackernews: "\f237";
$icon-ion-social-html5-outline: "\f4e2";
$icon-ion-social-html5: "\f4e3";
$icon-ion-social-instagram-outline: "\f350";
$icon-ion-social-instagram: "\f351";
$icon-ion-social-javascript-outline: "\f4e4";
$icon-ion-social-javascript: "\f4e5";
$icon-ion-social-linkedin-outline: "\f238";
$icon-ion-social-linkedin: "\f239";
$icon-ion-social-markdown: "\f4e6";
$icon-ion-social-nodejs: "\f4e7";
$icon-ion-social-octocat: "\f4e8";
$icon-ion-social-pinterest-outline: "\f2b0";
$icon-ion-social-pinterest: "\f2b1";
$icon-ion-social-python: "\f4e9";
$icon-ion-social-reddit-outline: "\f23a";
$icon-ion-social-reddit: "\f23b";
$icon-ion-social-rss-outline: "\f23c";
$icon-ion-social-rss: "\f23d";
$icon-ion-social-sass: "\f4ea";
$icon-ion-social-skype-outline: "\f23e";
$icon-ion-social-skype: "\f23f";
$icon-ion-social-snapchat-outline: "\f4eb";
$icon-ion-social-snapchat: "\f4ec";
$icon-ion-social-tumblr-outline: "\f240";
$icon-ion-social-tumblr: "\f241";
$icon-ion-social-tux: "\f2c5";
$icon-ion-social-twitch-outline: "\f4ed";
$icon-ion-social-twitch: "\f4ee";
$icon-ion-social-twitter-outline: "\f242";
$icon-ion-social-twitter: "\f243";
$icon-ion-social-usd-outline: "\f352";
$icon-ion-social-usd: "\f353";
$icon-ion-social-vimeo-outline: "\f244";
$icon-ion-social-vimeo: "\f245";
$icon-ion-social-whatsapp-outline: "\f4ef";
$icon-ion-social-whatsapp: "\f4f0";
$icon-ion-social-windows-outline: "\f246";
$icon-ion-social-windows: "\f247";
$icon-ion-social-wordpress-outline: "\f248";
$icon-ion-social-wordpress: "\f249";
$icon-ion-social-yahoo-outline: "\f24a";
$icon-ion-social-yahoo: "\f24b";
$icon-ion-social-yen-outline: "\f4f1";
$icon-ion-social-yen: "\f4f2";
$icon-ion-social-youtube-outline: "\f24c";
$icon-ion-social-youtube: "\f24d";
$icon-ion-soup-can-outline: "\f4f3";
$icon-ion-soup-can: "\f4f4";
$icon-ion-speakerphone: "\f2b2";
$icon-ion-speedometer: "\f2b3";
$icon-ion-spoon: "\f2b4";
$icon-ion-star: "\f24e";
$icon-ion-stats-bars: "\f2b5";
$icon-ion-steam: "\f30b";
$icon-ion-stop: "\f24f";
$icon-ion-thermometer: "\f2b6";
$icon-ion-thumbsdown: "\f250";
$icon-ion-thumbsup: "\f251";
$icon-ion-toggle-filled: "\f354";
$icon-ion-toggle: "\f355";
$icon-ion-transgender: "\f4f5";
$icon-ion-trash-a: "\f252";
$icon-ion-trash-b: "\f253";
$icon-ion-trophy: "\f356";
$icon-ion-tshirt-outline: "\f4f6";
$icon-ion-tshirt: "\f4f7";
$icon-ion-umbrella: "\f2b7";
$icon-ion-university: "\f357";
$icon-ion-unlocked: "\f254";
$icon-ion-upload: "\f255";
$icon-ion-usb: "\f2b8";
$icon-ion-videocamera: "\f256";
$icon-ion-volume-high: "\f257";
$icon-ion-volume-low: "\f258";
$icon-ion-volume-medium: "\f259";
$icon-ion-volume-mute: "\f25a";
$icon-ion-wand: "\f358";
$icon-ion-waterdrop: "\f25b";
$icon-ion-wifi: "\f25c";
$icon-ion-wineglass: "\f2b9";
$icon-ion-woman: "\f25d";
$icon-ion-wrench: "\f2ba";
$icon-ion-xbox: "\f30c";
