<template>
  <require from="./insight-bookmark-comment"></require>
  <div
    class="insight-card card"
    mouseenter.trigger="handleMouseEnter()"
    mouseleave.trigger="handleMouseLeave($event)"
    click.trigger="click()"
  >
    <div class="card-head">
      <div class="circle-border-icon">
        <i class="icon-lightbulb_outline"></i>
      </div>
      <span class="creator-name">${insight.projectUser.displayName}</span>
      <span class="created-date">${insight.createdOn | momentFormat:currentUser.timeZone}</span>
      <span class="clear"></span>
    </div>
    <div class="card-body">
      <div class="verbatim">
        <span class="verbatim-user">${insight.response.user.displayName}</span>
        <p><!-- THIS IS WHERE THE SELECTED RESPONSE TEXT WILL BE DISPLAYED FOR SEGMENT RESPONSES --></p>
      </div>
      <insight-bookmark-comment
        repeat.for="comment of insight.comments"
        comment.bind="comment"
      ></insight-bookmark-comment>
    </div>
    <div class="card-buttons">
      <a class="icon-button" click.delegate="editClick($event)">
        <i class="icon-mode_edit"></i>
      </a>
      <a class="icon-button" click.delegate="removeClick($event)">
        <i class="icon-delete"></i>
      </a>
    </div>
  </div>
</template>
