<template>
  <div class="not-found-container">
    <img src="/images/logo-qb-maintenance-green.png" class="qb-logo" />
    <div>
      <h2 class="not-found-header">
        Page not found...
      </h2>
      <h5 class="not-found-text">
        The page you are looking for does not exist.
      </h5>
      <div class="not-found-buttons">
        <button class="btn btn-outline-secondary btn-lg" click.trigger="goBack()">
          Back
        </button>
        <button class="btn btn-primary btn-lg" click.trigger="goHome()">
          Home
        </button>
      </div>
    </div>
  </div>
</template>
