.tt_qb_date-time-picker, .date-time-picker, .date-picker {

  .input-group-addon {
    @include hoverDarkenBackground($input-group-addon-bg);
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 38px;

    i {
      font-size: 1.5rem;
      padding-left: 2px;
      padding-bottom: 2px;
    }
  }

  .has-danger .input-group-addon {
    @include hoverDarkenBackground(white);
  }
}

.flatpickr-input {
  @extend .form-control;
}
