#maintenance-splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $gray-dark;
  padding: 25px;
  color: white;
  z-index: 99998;
  display: none;

  &.enabled {
    display: block;
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;

    img {
      margin-bottom: 25px;
    }

    .message {
      color: $gray-light;
    }
  }
}

#maintenance-warning {
  position: fixed;
  bottom: -600px;
  right: 20%;
  left: 20%;
  padding: 15px;
  background: $new-accent-1;
  color: white;
  z-index: 100000000000001 !important; // Olark + 1 :)
  transition: bottom .3s;

  &.enabled {
    bottom: 0;
  }

  p {
    margin-bottom: .1rem;
  }


  .dismiss {
    font-style: oblique;
    text-align: right;
    font-size: .66rem;
  }
}
