%prev-next-page-link {
  border-bottom-left-radius: $btn-border-radius;
  border-top-left-radius: $btn-border-radius;
  border-bottom-right-radius: $btn-border-radius;
  border-top-right-radius: $btn-border-radius;
  margin-bottom: -6px;

  i {
    font-size: 1.75rem;
    position: absolute;
    top: -2px;
  }
}

.pagination {
  padding-left: 0;
  margin-top: $spacer;
  margin-bottom: $spacer;
  @include border-radius();

  &:focus {
    outline: none;
  }
}

.page-item {
  display: block;
  max-height: 25px;

  &:not(.active) {
    .page-link {
      cursor: pointer;
    }
  }

  &:focus {
    outline: none;
  }

  .page-link {
    transition: background-color 0.2s ease-in-out;
    color: $gray-dark;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    border-radius: $btn-border-radius;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: inherit;
    padding: 0;
    margin: 0 .25rem;
    text-align: center;
    border: none;
    position: relative;

    &:hover {
      background-color: $new-brand-primary-lighter;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
      background-color: initial;
      outline: none;
    }
  }

  &:first-child {
    .page-link {
      @extend %prev-next-page-link;

      i {
        left: .375rem;
      }
    }
  }

  &:last-child {
    .page-link {
      @extend %prev-next-page-link;

      i {
        right: .375rem;
      }
    }
  }

  &.active {
    .page-link {
      color: #fff;
      cursor: default;
      background-color: $new-brand-primary;
    }
  }

  &.disabled {
    .page-link {
      @include plain-hover-focus {
        color: $pagination-disabled-color;
        pointer-events: none;
        cursor: $cursor-disabled;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
      }
    }
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
