@import '../base/custom-variables.scss';

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 26px;
  input {
    display: none;
  }
}

.new-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input {
  &:checked + .new-slider {
    background-color: #8ce196;
  }
  &:focus + .new-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  &:checked + .new-slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
  }
}

/* Rounded new-sliders */

.new-slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}
